
Swift - Basico.playground/playground.xcworkspace/xcuserdata/raulgallegoalonso.xcuserdatad/

Swift - Intermedio.playground/playground.xcworkspace/xcuserdata/raulgallegoalonso.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
